{% extends 'login_base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <h1>Recuperar contrase침a</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
               Ingrese su direcci칩n de correo electr칩nico y le enviaremos un
                enlace para restablecer su contrase침a.
            </small>
        </div>

        <button class="btn btn-info btn-lg btn-block">Enviar email</button>
    {{ form_end(requestForm) }}

     <p>Ya tienes una cuenta <a href="{{ path('login') }}" class="link-info">Inicia session aqui</a></p>
{% endblock %}
